/* Definições básicas do Dark Mode */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #bbbbbb;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e0e0e0;
}

input::placeholder {
    color: #888;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    margin-bottom: 15px;
}
/* Estilo da mensagem de erro */
.error-message {
    background-color: #ffcc00; /* Fundo amarelo */
    color: #333; /* Texto escuro para contraste */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #e6b800;
    text-align: center;
    font-weight: bold;
}
